

	<td id="target" (click)="onElementDblClick($event)" (focusout)="onElementLostFocus($event)"
	(focus)="onElementFocus($event)">
	  td-blockworks1 
	</td>
	

<!-- <tr>
	<td (click)="onElementDblClick($event)" (focusout)="onElementLostFocus($event)">
	  td-blockworks1 
	</td>
	<td (click)="onElementDblClick($event)" (focusout)="onElementLostFocus($event)">
	  td-blockworks2 
	</td>
	<td (click)="onElementDblClick($event)" (focusout)="onElementLostFocus($event)">
	  td-blockworks3 
	</td>
	<td (click)="onElementDblClick($event)" (focusout)="onElementLostFocus($event)">
	  td-blockworks3 
	</td>	
</tr> -->
