
<tr>
	<td (click)="onElementDblClick($event)" (focusout)="onElementLostFocus($event)">
	  td-blockworks1 
	</td>
	<td (click)="onElementDblClick($event)" (focusout)="onElementLostFocus($event)"
	(focus)="onElementFocus($event)">
	  td-blockworks2 
	</td>
	<td (click)="onElementDblClick($event)" (focusout)="onElementLostFocus($event)">
	  td-blockworks3 
	</td>
	<td (click)="onElementDblClick($event)" (focusout)="onElementLostFocus($event)">
	  td-blockworks3 
	</td>	
</tr>
<tr>
	<td (click)="onElementDblClick($event)" (focusout)="onElementLostFocus($event)">
	  td-blockworks1 
	</td>
	<td (click)="onElementDblClick($event)" (focusout)="onElementLostFocus($event)">
	  td-blockworks2 
	</td>
	<td (click)="onElementDblClick($event)" (focusout)="onElementLostFocus($event)">
	  td-blockworks3 
	</td>
	<td (click)="onElementDblClick($event)" (focusout)="onElementLostFocus($event)">
	  td-blockworks3 
	</td>	
</tr>
